
// override bulma to use Yetibot's blue for cyan, which in turn affects bulma's
// `primary` colors
$cyan: #55C4D4;

@import "bulma/bulma.sass";
#foo { display: none; }

body {
  // position: relative;
  // min-height: 100%;
}

.main-content {
  // make room for the fixed footer
  @include desktop {
  // padding-bottom: 300px;
  }
}

.is-horizontal-center {
  justify-content: center;
}

// Nav

nav {
  .nav-logo {
    max-height: 28px;
  }
  margin-bottom: 60px;
}

// Home

.logo {
  max-width: 100%;
  max-height: 600px;
  margin-top: 18px;
}

h2.tagline {
  margin: 18px 0 120px 0;
}

.home-tiles {
  article {
    &:hover {
      filter: opacity(80%);
    }
  }
}

// Media page
.media-boxes {
  .box {
    padding: 80px;
  }
}

// Footer

footer.footer {
  background: white;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  a {
    font-weight: bold;
  }
}
