
// override bulma to use Yetibot's blue for cyan, which in turn affects bulma's
// `primary` colors
$cyan: #55C4D4;

@import "bulma/bulma.sass";
#foo { display: none; }

body {
  display: relative;
}

.is-horizontal-center {
  justify-content: center;
}

.logo {
  max-width: 100%;
  max-height: 600px;
  margin-top: 160px;
}

h2.tagline {
  margin: 18px 0 120px 0;
}

.home-tiles {
  article {
    &:hover {
      filter: opacity(80%);
    }
  }
}

footer {
  width: 100%;
  margin-top: 60px;

  @include desktop {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  a {
    font-weight: bold;
  }
}
