<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    {% style "css/main.css" %}
  </head>
  <body>

    {% if post.home? %}
      <div class="container has-text-centered">
        <div class="is-flex is-horizontal-center">
          <img class="logo" src="/img/yetibot_logo.svg" class="is-horizontal-center" />
        </div>

        <h2 class="tagline title has-text-centered">
          A powerful, expressive chatops platform written in Clojure.
        </h2>

      </div>

      <div class="container">
        <div class="tile is-ancestor">

          <div class="tile is-parent">
            <article class="tile is-child hero is-primary is-bold">
              <a href="/docs">
                <div class="hero-body">
                  <h1 class="title">
                    Read the docs
                  </h1>
                </div>
              </a>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child hero is-warning is-bold">
              <a href="http://slack.yetibot.com">
                <div class="hero-body">
                  <h1 class="title">
                    Join Yetibot Slack
                  </h1>
                </div>
              </a>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child hero is-danger is-bold">
              <a href="/media">
                <div class="hero-body">
                  <h1 class="title">
                    Media kit
                  </h1>
                </div>
              </a>
            </article>
          </div>

          <div class="tile is-parent">
            <article class="tile is-child hero is-info is-bold">
              <a href="https://github.com/yetibot/yetibot">
                <div class="hero-body">
                  <h1 class="title">
                    GitHub
                  </h1>
                </div>
              </a>
            </article>
          </div>

        </div>
      </div>

    {% else %}

      <div class="contain">
        {% block content %}
        {% endblock %}
      </div>

    {% endif %}

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Yetibot</strong> by <a href="https://devth.com">Trevor
            Hartman</a> & contributors. Source code is licensed
          <a href="https://opensource.org/licenses/eclipse-1.0.php">
            Eclipse Public License 1.0
          </a>, the same as Clojure. Artwork by <a
             href="http://www.freeformdesign.co/">Freeform Design Co.</a> in Montana.
        </p>
      </div>
    </footer>

  </body>
</html>

