{% extends "/html/base.html" %}

{% block content %}
<div class="container has-text-centered">
  <div class="is-flex is-horizontal-center">
    <img class="logo" src="/img/yetibot_logo.svg" class="is-horizontal-center" />
  </div>

  <h2 class="tagline title has-text-centered">
    A powerful, expressive chatops platform written in Clojure.
    <a href="/user-guide">Get started ↠</a>
  </h2>

</div>

<div class="container">
  <div class="home-tiles tile is-ancestor">

    <div class="tile is-parent">
      <article class="tile is-child hero is-info is-bold">
        <a href="/user-guide">
          <div class="hero-body">
            <h1 class="title">
              User Guide
            </h1>
          </div>
        </a>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child hero is-light is-bold">
        <a href="https://slack.yetibot.com">
          <div class="hero-body">
            <h1 class="title">
              Join Yetibot Slack
            </h1>
          </div>
        </a>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child hero is-dark is-bold">
        <a href="/media">
          <div class="hero-body">
            <h1 class="title">
              Media kit
            </h1>
          </div>
        </a>
      </article>
    </div>

    <div class="tile is-parent">
      <article class="tile is-child hero is-warning is-bold">
        <a href="https://github.com/yetibot/yetibot">
          <div class="hero-body">
            <h1 class="title">
              GitHub
            </h1>
          </div>
        </a>
      </article>
    </div>

  </div>
</div>
{% endblock %}
