{% extends "/html/base.html" %}
{%block subtitle %}: {{page.title}}{% endblock %}
{% block content %}

<section class="content" id="custom-page">

  <h2 class="page-title title">{{page.title}}</h2>

  {% if page.toc %}{{page.toc|safe}}{% endif %}

  {{page.content|safe}}

  <div id="prev-next">
    {% if page.prev %}
    <a class="button is-info" href="{{page.prev.uri}}">&laquo; {{page.prev.title}}</a>
    {% endif %}
    {% if all page.prev page.next %}

    {% endif %}
    {% if page.next %}
    <a class="button is-info" href="{{page.next.uri}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

</section>

{% endblock %}
