<article class="page-title hero is-dark is-bold is-fullwidth">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">{{post.title}}</h1>
      <p class="subtitle">
        {{post.date|date:longDate}}
        {% if post.author %}
          <span>By {{post.author}}</span>
        {% endif %}
      </p>
    </div>
  </div>
</article>

<section class="section content">
  <div class="container">

    <div class="main main-content columns">
      <div class="column is-two-thirds">
        {{post.content|safe}}
      </div>

      <div class="column toc">
        {% if post.toc %}{{post.toc|safe}}{% endif %}
      </div>

    </div>
    {% if post.tags|not-empty %}
    <div id="post-tags">
      <b>Tags: </b>
      {% for tag in post.tags %}
        <a href="{{tag.uri}}">{{tag.name}}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
