/*
Error: Undefined mixin 'tablet'.
        on line 26 of themes/devth/css/bulma/sass/grid/tiles.sass, in `tablet'
        from line 26 of themes/devth/css/bulma/sass/grid/tiles.sass

21:   &.is-vertical
22:     flex-direction: column
23:     & > .tile.is-child:not(:last-child)
24:       margin-bottom: 1.5rem !important
25:   // Responsiveness
26:   +tablet
27:     &:not(.is-child)
28:       display: flex
29:     @for $i from 1 through 12
30:       &.is-#{$i}
31:         flex: none

Backtrace:
themes/devth/css/bulma/sass/grid/tiles.sass:26:in `tablet'
themes/devth/css/bulma/sass/grid/tiles.sass:26
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:348:in `block in visit_mixin'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/stack.rb:98:in `block in with_mixin'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/stack.rb:98:in `with_mixin'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/home/travis/.rvm/gems/ruby-2.5.3/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/home/travis/.rvm/gems/ruby-2.5.3/bin/sass:23:in `load'
/home/travis/.rvm/gems/ruby-2.5.3/bin/sass:23:in `<main>'
/home/travis/.rvm/gems/ruby-2.5.3/bin/ruby_executable_hooks:24:in `eval'
/home/travis/.rvm/gems/ruby-2.5.3/bin/ruby_executable_hooks:24:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'tablet'.\A         on line 26 of themes/devth/css/bulma/sass/grid/tiles.sass, in `tablet'\A         from line 26 of themes/devth/css/bulma/sass/grid/tiles.sass\A \A 21:   &.is-vertical\A 22:     flex-direction: column\A 23:     & > .tile.is-child:not(:last-child)\A 24:       margin-bottom: 1.5rem !important\A 25:   // Responsiveness\A 26:   +tablet\A 27:     &:not(.is-child)\A 28:       display: flex\A 29:     @for $i from 1 through 12\A 30:       &.is-#{$i}\A 31:         flex: none"; }
