// override bulma to use Yetibot's blue for cyan, which in turn affects bulma's
// `primary` colors
$cyan: #55C4D4;

$link: $cyan;

// TODO fix bulma is being overriden by github-org-cards

@import "bulma/sass/utilities/initial-variables.sass";

@import "bulma/bulma.sass";
@import "tocbot.css";


body {
  a {
    // need this  hack until we fix styles in github-org-cards :(
    color: $link;
    font-weight: 600;
  }
  // override breaking because "announcement" is too long of a word on mobile
  // devices
  .title {
    overflow: hidden;
    word-break: normal;
    text-overflow: ellipsis;
  }
}

.navbar .navbar-brand {
  padding: 6px 6px 6px 0;
}
.navbar .navbar-start a {
  font-weight: 300;
  font-size: 18px;
}
.navbar .navbar-start > a.navbar-item.is-active {
  color: $cyan !important;
}

.navbar .navbar-start > a.navbar-item,
.navbar .navbar-end > a.navbar-item {
  transition: color 0.4s ease-out;
}

.navbar .navbar-start > a.navbar-item:hover,
.navbar .navbar-end > a.navbar-item:hover {
  color: $cyan !important;
}
.navbar .navbar-end > a.navbar-item {
  padding: 0.5rem 0.5rem;
}
.navbar-menu { padding: 0 }





// Override the font size of the Icons. Bulma lg is .33 and 2x is 2 but we want
// somewhere in between those:
.navbar .icon i { font-size: 1.7rem; }

h1 { @extend .is-size-1; }
h2 { @extend .is-size-2; }
h3 { @extend .is-size-3; }
h4 { @extend .is-size-4; }
h5 { @extend .is-size-5; }
h6 { @extend .is-size-6; }
h7 { @extend .is-size-7; }

body {
  // position: relative;
  // min-height: 100%;
}

.main-content {
  // make room for the fixed footer
  @include desktop {
  // padding-bottom: 300px;
  }
}

pre {
  border-left: 5px solid rgba(85, 196, 212, 1);
  img {
    display: block;
  }
  code {
    white-space: pre-wrap; 
    .wrap { white-space: pre-wrap; }
  }
}

.is-horizontal-center {
  justify-content: center;
}

// Nav

nav {
  .nav-logo {
    max-height: 28px;
  }
  // margin-bottom: 60px;
}

// Home

.features {
  .feature.tile .tile {
    margin: 1em;
    strong {
      font-size: 1.4em;
      line-height: 1em;
    }
  }
  margin-bottom: 4em;
}

.logo {
  max-width: 100%;
  max-height: 600px;
  margin-top: 72px;
  margin-left: 76px;
  padding: 12px;

  @include mobile {
    max-width: 80%;
    max-height: 400px;
    margin-top: 12px;
    max-height: 460px;
    margin-left: 12px;
  }
}

h2.tagline {
  margin: 18px 0 120px 0;
  font-size: 2em;
  @include mobile {
    font-size: 1.4em !important;
    margin: 12px;
  }
}
.button.get-started {
  margin: 24px 0 42px 0;
}

.home-tiles {
  article {
    &:hover {
      filter: opacity(80%);
    }
  }
}

// Media page
.media-boxes {
  .box {
    padding: 80px;
  }
}

// ToC

// Don't show the gray border left of items

// Leave it enabled for now
// Tracking issue at https://github.com/tscanlin/tocbot/issues/130
// .toc-link::before {
//   background: none !important;
// }
// .toc-link {
//   padding-left: 16px;
//   &.is-active-link {
//     padding-left: 14px;
//     border-left: 2px solid #55C4D4;
//   }
// }


@include mobile {
  .main.columns {
    flex-direction: column-reverse;
    display: flex;
    > .column {
      flex-basis: auto;
    }
  }
}

// Initially hide the toc until it's tocbotified
.column.toc ol.content {
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.column.toc ol.content.ready {
  opacity: 1;
}

.column.toc {
  .content {
    overflow: hidden;
    position: absolute;
    @include mobile {
      position: relative;
    }
    top: -35px;
    ol {
      margin: 0 0 0 0.5em;
      list-style: none;
    }
  }
  .content.fixed {
    position: fixed;
    top: 0px;
    @include mobile {
      position: relative;
    }
  }
}

// Pages

body .main-content {
  // padding: 12px;
}

.page-title {
  // margin-bottom: 2em;
}

.eval-button {
  margin-bottom: 1em;
}

// Posts

#post-tags {
  margin: 40px 0 20px 0;
}
#prev-next {
  margin: 20px 0;
}

#disqus{
  margin-top: 40px;
  padding: 40px;
}

// Footer

// Only display the log once - the home page has it in the main area

footer.footer {
  background: white;
  width: 100%;
  margin-top: 60px;
  text-align: center;
  a {
    font-weight: bold;
  }

  .logo {
    margin-left: 20px;
    max-width: 200px;
  }
}

// Youtube responsive embed
.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

h2, h3, h4, h5, p, pre {
  clear: both;
}


// archive / blog - ensure all the cards are the same height
#posts .card {
  height: 100%;
}

#digitalocean-sponsorship {
  margin-top: 40px;
  text-align: center;
  img {
    // max-width: 80%;
  }
}

